@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

aside{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.305);
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 0 0px  0px 0px;
    border-top: none;
    margin-left: -10px;
    height: 100vh;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

aside li:hover{
    color: gray;
    transition-property:color ;
    transition-timing-function: linear;
    transition:0.5s ;
    cursor: pointer;
}

li{
    width: 100%;
    list-style: none;
}

h3{
    color:rgb(110, 110, 251);
}

li:hover{
    border-bottom: 1px solid black;
}