<div class="gallery">
    <div class="content">
        <img src="/assets/images/img15.jpg">
        <h3>tops</h3>
        <p></p>
        <h6>&#x20B9;1500</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img16.jpg">
        <h3>sarees</h3>
        <p></p>
        <h6>&#x20B9;500</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-2">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img17.jpg">
        <h3>tops</h3>
        <p></p>
        <h6>&#x20B9;800</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-3">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img18.jpg">
        <h3>tops</h3>
        <p></p>
        <h6>&#x20B9;2500</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-3">buy now</button>
    </div>
</div>