<!-- <button mat-button>Menu</button> -->
<!-- <nav class="navigation"> -->
<!-- <a href="">Men's</a> -->
<!-- <a href="">Kid's</a> -->
<!-- </nav> -->
<section class="TopProductNavbar">
    <div class="TopProductNavbar_nav">
        <img
            src="https://m.media-amazon.com/images/G/31/img23/Fashion/KF/Flip/Winterwearflip/mainHalos/Highlighted/MFA._SS300_QL85_FMpng_.png">
        <ul>
            <li><a routerLink="/kids">Kid's</a></li>
        </ul>
    </div>
    <div class="TopProductNavbar_nav">
        <img
            src="https://m.media-amazon.com/images/G/31/img24/Fashion/AF/Flip/Springsummerflip/Halo/main/V1/womens._SS300_QL85_FMpng_.png">
        <nav>
            <ul>
                <li><a href="woman">Women's</a>

            </ul>
        </nav>
    </div>
    <div class="TopProductNavbar_nav">
        <img
            src="https://m.media-amazon.com/images/G/31/img21/MA2023/Winterflip/P0/Halo/Main/shirts._SS300_QL85_FMpng_.png">
        <nav>
            <ul>
                <li><a routerLink="/mens">Men's</a></li>

            </ul>
        </nav>
    </div>
</section>