header{
    background-color: #2874f0;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    height: 58px;
    /* background-color: rgba(0, 255, 255, 0.37); */
   display: flex;  
   justify-content: space-between; 
}

.logo{
    width: 170px;
    height: 100px;
    position: relative;
    top: -22px;
}

#logo{
    /* position: relative; */
    /* left: 5%; */
    /* font-size: 40px; */
}

.nav{
    
    font-size: 20px;
    position: relative;
    right: 5%;
    top: 14px;
    word-spacing: 10px;

}
a{
    text-decoration: none;
    color: black;
    cursor :pointer ;
}
a:hover {
    color: darkorange;
    /* background-color: blue; */
}
