<div class="gallery">
  <div class="content">
    <img src="/assets/images/img13.jpg">
    <h3>Laptop</h3>
    <p>HP 14s-dq5138tu Intel Core i3 (8GB, 14 inch Full HD IPS Display)</p>
    <h6>&#x20B9;70,000</h6>
    <ul>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>
    <button class="buy-1">buy now</button>
  </div>
  <div class="content">
    <img src="/assets/images/img14.jpg">
    <h3>Tab</h3>
    <p>Lenovo Tab M10 HD LED Tablet (10.1-inch, 2GB, 16GB, Cellular)</p>
    <h6>&#x20B9;10,000</h6>
    <ul>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>
    <button class="buy-2">buy now</button>
  </div>
  <div class="content">
    <img src="/assets/images/img15.jpg">
    <h3>Mobile</h3>
    <p>NLDK I12 Pro Max Unlocked Smartphone 6.8 inch</p>
    <h6>&#x20B9;10,000</h6>
    <ul>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
    </ul>
    <button class="buy-3">buy now</button>
  </div>
  <div class="content">
    <img src="/assets/images/img18.jpg">
    <h3>Mobile</h3>
    <p>Infinix Smart HD 2021 (2 GB RAM, 32 GB ROM) - Smartphone</p>
    <h6>&#x20B9;25,000</h6>
    <ul>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>
    <button class="buy-3">buy now</button>
  </div>
  <div class="content">
    <img src="/assets/images/img19.jpg">
    <h3>Mouse</h3>
    <p>Gaming Pc Mouse PNG HD Quality - PNG Play</p>
    <h6>&#x20B9;500</h6>
    <ul>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>
    <button class="buy-3">buy now</button>
  </div>
  <div class="content">
    <img src="/assets/images/img20.jpg">
    <h3>Laptop</h3>
    <p>Buy HP Victus 16-D0309TX Gaming Laptop</p>
    <h6>&#x20B9;30,000</h6>
    <ul>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>
    <button class="buy-3">buy now</button>
  </div>
  <div class="content">
    <img src="/assets/images/img21.jpg">
    <h3>Keyboard</h3>
    <p>e1.pxfuel.com/desktop-wallpaper/96/218/desktop</p>
    <h6>&#x20B9;1000</h6>
    <ul>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>
    <button class="buy-3">buy now</button>
  </div>
  <div class="content">
    <img src="/assets/images/img22.jpg">
    <h3>Keyboard</h3>
    <p>Logitech Wired Keyboard Mouse Combo MK200 MULTIMEDIA (3 YEARS)</p>
    <h6>&#x20B9;1,500</h6>
    <ul>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>
    <button class="buy-3">buy now</button>
  </div>
  <div class="content">
    <img src="/assets/images/img23.jpg">
    <h3>Tab</h3>
    <p>Lenovo Smart Tab M10 HD review: A solid media slate</p>
    <h6>&#x20B9;20,000</h6>
    <ul>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>
    <button class="buy-3">buy now</button>
  </div>
  <div class="content">
    <img src="/assets/images/img24.jpg">
    <h3>Tab</h3>
    <p>Lenovo Smart Tab M10 HD review: A solid media slate</p>
    <h6>&#x20B9;30,000</h6>
    <ul>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star checked"></i></li>
      <li><i class="fa fa-star"></i></li>
      <li><i class="fa fa-star"></i></li>
    </ul>
    <button class="buy-3">buy now</button>
  </div>
</div>