<div class="gallery">
    <div class="content">
        <img src="/assets/images/img6.jpg">
        <h3>Cotton Shirt</h3>
        <p>Girls Maxi/Full Length Festive/Wedding Dress </p>
        <h6>&#x20B9;300</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img9.jpg">
        <h3> Pure Cotton</h3>
        <p>Applique Cotton Silk Stitched Flared/A-line Gown (Purple)</p>
        <h6>&#x20B9;250</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-2">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img8.jpg">
        <h3>Formal Shirt</h3>
        <p>Girls Lehenga Choli Ethnic Wear Embroidered Lehenga Choli</p>
        <h6>&#x20B9;500</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-3">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img14.jpg">
        <h3>Casual shirts</h3>
        <p>Girls Maxi/Full Length Party Dress(pack of 1)</p>
        <h6>&#x20B9;450</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-3">buy now</button>
    </div>
</div>