<div class="gallery">
    <div class="content">
        <img src="/assets/images/img10.jpg">
        <h3>Cotton Shirt</h3>
        <p></p>
        <h6>&#x20B9;500</h6>
        <ul>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img11.jpg">
        <h3> Pure Cotton</h3>
        <p></p>
        <h6>&#x20B9;550</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-2">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img12.jpg">
        <h3>Formal Shirt</h3>
        <p></p>
        <h6>&#x20B9;700</h6>
        <ul>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star "></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-3">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img13.jpg">
        <h3>Casual shirts</h3>
        <p></p>
        <h6>&#x20B9;500</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-3">buy now</button>
    </div>
</div>