<div class="gallery">
    <div class="content">
        <img src="/assets/images/img10.jpg">
        <h3>Sarees</h3>
        <p>Beautiful Hot Indian Models in Saree High Resolution</p>
        <h6>&#x20B9;5,000</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img11.jpg">
        <h3>Top</h3>
        <p>Casual Wear Girls Printed Tops, Size: Medium, Lycra</p>
        <h6>&#x20B9;1,500</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-2">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img12.jpg">
        <h3>Top</h3>
        <p>Casual Wear Girls Printed Tops, Size: Medium, Lycra</p>
        <h6>&#x20B9;2,000</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-3">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img16.jpg">
        <h3>tops</h3>
        <p>Casual Wear Girls Printed Tops, Size: Medium, Lycra</p>
        <h6>&#x20B9;2,500</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-3">buy now</button>
    </div>
    <div class="content">
        <img src="/assets/images/img17.jpg">
        <h3>Sarees</h3>
        <p>Beautiful Hot Indian Models in Saree High Resolution </p>
        <h6>&#x20B9;3,000</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-3">buy now</button>
    </div>
</div>